/* reset css */
@import url(/assets/css/reset.css);

/* variables */
@import url(/assets/css/_variables.css);

/* screens */
@import url(/assets/css/screens/main.css);
@import url(/assets/css/screens/qna.css);
@import url(/assets/css/screens/result.css);

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(var(--sub-bg-color), var(--main-bg-color));
}

main > .hide {
  display: none !important;
}

main > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0;
  color: #fff;
}

article {
  padding: 1.5rem 0;
  width: 360px;
  height: 640px;
  border: 1px solid #8aa2cf;
  border-radius: 20px;
}

@media screen and (max-width: 380px) {
  main > h1 {
    font-size: 1.2rem;
  }

  article {
    font-family: sans-serif;
    width: 80vw;
    height: calc(80vw * 1.78);
    font-size: 0.8rem;
  }
}
