#main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: center / cover no-repeat url(../../img/arcane-poster.jpg);
}

#main > .start {
  width: 80%;
  line-height: 3rem;
  margin-bottom: 5.5rem;
  border-radius: 20px;
  color: #fff;
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#main > .start:hover {
  background-color: var(--sub-bg-color);
}

@media screen and (max-width: 380px) {
  #main > .start {
    line-height: 2rem;
    margin-bottom: 3.5rem;
  }
}
